
<section id="top-contents" class="clearfix">
  <!-- <div class="clearfix"> -->
    <div class="top-contents__left">
      <div class="top-contents__left__title">
        <h3 class="top-contents__left__title__sub">完全未経験でも大丈夫！</h3>
        <h2 class="top-contents__left__title__main">オンライン完結型スクールで</h2>
      </div>
      <div class="top-contents__left__bottan">
        <img class="top-contents__left__bottan__area" src="./assets/img/botton-CV.png">
      </div>
      <p class="top-contents__left__text">年齢性別問いません！会社員をしながらでも始められます<br>
      専業主婦のスクール生の方も多数参加しています。</p>
    </div>
    <div class="top-contents__right">
      <img src="./assets/img/top-image.jpg" width="100%" height="100%">
    </div>
  <!-- </div> -->
</section>
<section class="second-contents">
  <div class="second-contents__top"></div>
  <div class="second-contents__line"></div>
  <div class="second-contents__left">こんなお悩みはありませんか？</div>
  <div class="second-contents__right">
    <p class="second-contents__text">
      副業を始めたいけど、右も左もわからない。
    </p>
    <p class="second-contents__text">
      会社に行きながらリモートで稼ぐことに憧れる。
    </p>
    <p class="second-contents__text">
      まず月5万円くらいを最短で稼げるようになりたい！
    </p>
  </div>
</section>
<div class="middle-title">
  プログラミングを学び、<br>
  最短で稼げるWEB系フリーランスになろう！
</div>
<section class="third-contents">
  <div class="third-contents__title">
    ABCプログラミングスクールでは<br>
    あなたの学習を二人三脚で徹底サポート
  </div>
  <ul class="third-contents__main">
    <li class="third-contents__blog">
      <div class="third-contents__blog__pic">
        <img src="./assets/img/third_tsuyomi1.jpg">
      </div>
      <div class="third-contents__blog__main">
        <p class="third-contents__blog__title">
          サービスの強み１
        </p>
        <p class="third-contents__blog__main__text">
          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br>
          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br>
          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br>
          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br>
          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
        </p>
      </div>
    </li>
    <li class="third-contents__blog">
      <div class="third-contents__blog__pic">
        <img src="./assets/img/third_tsuyomi2.jpg">
      </div>
      <div class="third-contents__blog__main">
        <p class="third-contents__blog__title">
          サービスの強み２
        </p>
        <p class="third-contents__blog__main__text">
          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br>
          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br>
          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br>
          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br>
          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
        </p>
      </div>
    </li>
    <li class="third-contents__blog">
      <div class="third-contents__blog__pic">
        <img src="./assets/img/third_tsuyomi3.jpg">
      </div>
      <div class="third-contents__blog__main">
        <p class="third-contents__blog__title">
          サービスの強み３
        </p>
        <p class="third-contents__blog__main__text">
          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br>
          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br>
          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br>
          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br>
          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
        </p>
      </div>
    </li>
  </ul>
</section>
<div class="middle-soudan">
  <p class="middle-soudan__text">あなたに合ったプランをご提案します！</p>
  <p class="middle-soudan__title">いつでもお気軽にご相談ください。</p>
  <img src="./assets/img/botton-CV-red.svg">
</div>
<section class="fourth-contents">
  <h2 class="fourth-contents__title">いま、WEB系の副業を始めるメリット</h2>
  <ul class="fourth-contents__main">
    <li class="fourth-contents__blog">
      <div class="fourth-contents__blog__pic">
        <img src="./assets/img/メリット１.png">
      </div>
      <div class="fourth-contents__blog__main">
        <p class="fourth-contents__blog__title">
          メリット１
        </p>
        <p class="fourth-contents__blog__main__text">
          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br>
          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br>
          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br>
          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br>
          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
        </p>
      </div>
    </li>
    <li class="fourth-contents__blog">
      <div class="fourth-contents__blog__pic">
        <img src="./assets/img/メリット２.png">
      </div>
      <div class="fourth-contents__blog__main">
        <p class="fourth-contents__blog__title">
          メリット２
        </p>
        <p class="fourth-contents__blog__main__text">
          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br>
          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br>
          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br>
          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br>
          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
        </p>
      </div>
    </li>
    <li class="fourth-contents__blog">
      <div class="fourth-contents__blog__pic">
        <img src="./assets/img/メリット３.png">
      </div>
      <div class="fourth-contents__blog__main">
        <p class="fourth-contents__blog__title">
          メリット３
        </p>
        <p class="fourth-contents__blog__main__text">
          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br>
          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br>
          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br>
          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br>
          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
        </p>
      </div>
    </li>
  </ul>
</section>
<section class="fifth-contents">
  <div class="fifth-contents__title">
    <div class="fifth-contents__title__line"></div>
    <div class="fifth-contents__title__text">プラン紹介</div>
    <div class="fifth-contents__title__line"></div>
  </div>
  <ul class="fifth-contents__blog">
    <li class="fifth-contents__blog">
      <div class="fifth-contents__blog__title">WEB制作コース</div>
      <div class="fifth-contents__blog__text">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダ</div>
      <ul class="fifth-contents__blog__item">
        <li class="fifth-contents__blog__item__text">HTML/CSS(マークアップ言語)</li>
        <li class="fifth-contents__blog__item__text">Java script</li>
        <li class="fifth-contents__blog__item__text">Word Press</li>
        <li class="fifth-contents__blog__item__text">仕事の取り方</li>
        <li class="fifth-contents__blog__item__text">収益アップ・継続性を出す方法</li>
      </ul>
    </li>
    <li class="fifth-contents__blog">
      <div class="fifth-contents__blog__title">Comming Soon</div>
      <div class="fifth-contents__blog__text">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダ</div>
      <ul class="fifth-contents__blog__item">
        <li class="fifth-contents__blog__item__text">ダミーテキスト</li>
        <li class="fifth-contents__blog__item__text">ダミーテキスト</li>
        <li class="fifth-contents__blog__item__text">ダミーテキスト</li>
        <li class="fifth-contents__blog__item__text">ダミーテキスト</li>
        <li class="fifth-contents__blog__item__text">ダミーテキスト</li>
      </ul>
    </li>
    <li class="fifth-contents__blog">
      <div class="fifth-contents__blog__title">Comming Soon</div>
      <div class="fifth-contents__blog__text">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダ</div>
      <ul class="fifth-contents__blog__item">
        <li class="fifth-contents__blog__item__text">ダミーテキスト</li>
        <li class="fifth-contents__blog__item__text">ダミーテキスト</li>
        <li class="fifth-contents__blog__item__text">ダミーテキスト</li>
        <li class="fifth-contents__blog__item__text">ダミーテキスト</li>
        <li class="fifth-contents__blog__item__text">ダミーテキスト</li>
      </ul>
    </li>
  </ul>
</section>
<div class="middle-soudan">
  <p class="middle-soudan__text">あなたに合ったプランをご提案します！</p>
  <p class="middle-soudan__title">いつでもお気軽にご相談ください。</p>
  <img src="./assets/img/botton-CV-red.svg">
</div>
<section class="sixth-contents">
  <div class="fifth-contents__title">
    <div class="fifth-contents__title__line"></div>
    <div class="fifth-contents__title__text">お客様の声</div>
    <div class="fifth-contents__title__line"></div>
  </div>
  <ul class="sixth-contents__middle-title">
    <li class="sixth-contents__middle-title__item">WEB制作コース</li>
    <li class="sixth-contents__middle-title__item">Comming Soon</li>
    <li class="sixth-contents__middle-title__item">Comming Soon</li>
  </ul>
  <ul class="sixth-contents__main">
    <li class="sixth-contents__main__item">
      <img src="./assets/img/男性アイコン.svg">
      <div class="sixth-contents__main__item__age">20代男性</div>
      <div class="sixth-contents__main__item__text">
        WEB制作コース。ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
      </div>
    </li>
    <li class="sixth-contents__main__item">
      <img src="./assets/img/女性アイコン.svg">
      <div class="sixth-contents__main__item__age">20代女性</div>
      <div class="sixth-contents__main__item__text">
        WEB制作コース。ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
      </div>
    </li>
    <li class="sixth-contents__main__item">
      <img src="./assets/img/男性アイコン.svg">
      <div class="sixth-contents__main__item__age">40代男性</div>
      <div class="sixth-contents__main__item__text">
        WEB制作コース。ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
      </div>
    </li>
    <li class="sixth-contents__main__item">
      <img src="./assets/img/女性アイコン.svg">
      <div class="sixth-contents__main__item__age">30代女性</div>
      <div class="sixth-contents__main__item__text">
        WEB制作コース。ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
      </div>
    </li>
  </ul>
</section>
<section class="seventh-contents">
  <div class="fifth-contents__title">
    <div class="fifth-contents__title__line"></div>
    <h4 class="fifth-contents__title__text">よくある質問</h4>
    <div class="fifth-contents__title__line"></div>
  </div>
  <ul class="seventh-contents__main">
    <li class="seventh-contents__main__item">Q. ダミーテキストダミーテキストダミーテキストダミーテキスト</li>
    <li class="seventh-contents__main__item">Q. ダミーテキストダミーテキストダミーテキストダミーテキスト</li>
    <li class="seventh-contents__main__item">Q. ダミーテキストダミーテキストダミーテキストダミーテキスト</li>
  </ul>
</section>
<section class="eighth-contents">
  <div class="fifth-contents__title">
    <div class="fifth-contents__title__line"></div>
    <h3 class="fifth-contents__title__text">無料相談・お申し込みフォーム</h3>
    <div class="fifth-contents__title__line"></div>
  </div>
  <div class="eighth-contents__left">
    <div class="eighth-contents__left__title">30秒でお申し込み完了！ご相談は無料です。</div>
    <p class="eighth-contents__left__text">
      ご不明点や気になることを、簡単に相談できます。<br>
      どうぞお気軽にお話しください！
    </p>
    <p class="eighth-contents__left__item">
      完全未経験だった僕自身の経験や、フリーランス仲間の経験を踏まえて<br>
      サポート致しますので、本気で最短で稼げるようになりたい方にオススメです！<br>
      あなたの目標に合わせてオリジナルプランを設計し、二人三脚で成長していきましょう。<br>
      相談したいだけでもOKです！　お気軽にまずはご相談ください。
    </p>
  </div>
  <div class="eighth-contents__form">
    <form action="" method="post">
      <div class="eighth-contents__form__item">
        <label class="label">お名前</label>
        <input class="inputs" type="text" name="name"  placeholder=" 性">
        <input class="inputs" type="text" name="name" placeholder=" 名">
      </div>
      <div class="eighth-contents__form__item">
        <label class="label">お名前（フリガナ）</label>
        <input class="inputs" type="text" name="name"  placeholder=" セイ">
        <input class="inputs" type="text" name="name"  placeholder=" メイ">
      </div>
      <div class="eighth-contents__form__item">
        <label class="label">メールアドレス</label>
        <input class="inputs" type="email" name="email"  placeholder=" abcprograming@info.jp">
      </div>
      <div class="eighth-contents__form__item">
        <label class="label">お申し込み内容</label>
        <textarea class="inputs"  placeholder=" こちらにご相談内容・お申し込み内容をご記入ください。"></textarea>
      </div>
      <div class="btn-area">
        <input type="submit" value="無料相談に申し込む">
      </div>
    </form>
  </div>
</section>
<footer class="footer-contents">
  <div class="footer-contents__top">
    <h5 class="footer-contents__top__text">LINE@でも無料相談を受付中！友達追加登録はこちらから</h5>
    <img src="./assets/img/QRコード.svg">
  </div>
  <div class="footer-contents__under">
    <p class="under-text">Copyright &copy;︎ 2020 ABCプログラミングスクール</p>
  </div>
</footer>
