    <header>
      <div class="wrap clearfix">
        <!-- //clearfix -->
        <div class="main_visual">
          <div class="top_box_sp">
            <div class="top_hamburger">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="top_box_pc">
            <div class="top_logo">
              <img src="./assets/img/ABC.png" width="100%">
              <img src="./assets/img/プログラミングスクール.png" width="100%">
              <div class="top_logo">
                <img src="./assets/img/ロゴマーク.png" width="100%">
              </div>
            </div>

            <ul class="info_box">
              <li>
                <a href class="info">ABCの強み</a>
              </li>
              <li>
                <a class="info" href="">プログラミングを学ぶメリット</a>
              </li>
              <li>
                <a class="info" href="">プラン紹介</a>
              </li>
              <li>
                <a class="info" href="">お客様の声</a>
              </li>
              <li>
                <a class="info" href="">Q＆A</a>
              </li>
              <li>
                <img class="" src="./assets/img/botton-CV.png">
              </li>
            </ul>
          </div>
        </div>
        <div class="main_image">
          <h1 class="header_title">Responsive Site</h1>
        </div>
      </div>
    </header>
